//
//  Android.xcconfig
//  UIKit
//
//  Created by Chen Yonghui on 12/6/13.
//  Copyright (c) 2013 Shanghai Tinynetwork Inc. All rights reserved.
//

SDK_ROOT=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/FakeMacOSX10.9.sdk
DEPLOYMENT_LOCATION = YES
DSTROOT = /
INSTALL_PATH = $(SDK_ROOT)/System/Library/Frameworks/
HEADER_SEARCH_PATHS=$(inherited) $(SDK_ROOT)/usr/include/freetype2/  $(SOURCE_ROOT)/gnustep-opal/Source/OpalText
OTHER_LDFLAGS= $(inherited) -shared -Wl,-z,defs -lCoreGraphics -lgnustep-corebase -lobjc -lgnustl_shared
OTHER_CFLAGS= $(inherited) -DANDROID=1 -fblocks

//-lpangocairo-1.0 -lpango-1.0 -lgobject-2.0 -lglib-2.0 -lintl

LD_DEPENDENCY_INFO_FILE= 

